<div style="margin-top: 100px;"></div>

<h1>Diversos</h1>

<hr/>

<div class="row">
  <div class="col-md-3">
    <img src="img/gimp.png" alt="" class="img-thumbnail" />
  </div>
  <div class="col-md-8">
    <h1>O GIMP</h1>
    <hr/>
    <p>O GIMP é uma ferramenta multi-plataforma para manipulação de fotos. GIMP é a abreviação de GNU Image Manipulation Program. O GIMP se adequa a vários tipos de manipulações de imagens, incluindo retoque em fotos, composição de imagens e até mesmo construção
      de imagens.</p>
    <p>O GIMP possui muitas habilidades. Ele pode ser usado como um simples programa de pintura, ou como um avançado programa de retoque de imagens, ou como um sistema online de processamento de imagens, ou como um renderizador para produção em massa de
      imagens, ou ainda como um conversor de imagens, etc.</p>
    <p>
      Para mais informações acesse:
    </p>
    <div class="btn-group">
      <a href="http://www.gimp.org/" class="btn btn-primary" target="blank">gimp.org</a>
      <a href="https://www.facebook.com/pages/GIMP/108133855875034?rf=105526996146959" class="btn btn-default" target="blank">
        <i class="fa fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com/GIMPMagazine" class="btn btn-default" target="blank">
        <i class="fa fa-twitter"></i> Twitter (GIMP Magazine)
      </a>
      <a href="http://registry.gimp.org/popular" class="btn btn-default" target="blank">
        <i class="fa fa-cog"></i> Extensões
      </a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 40px;">

  <div class="col-md-8">
    <h1>Inkscape</h1>
    <hr/>
    <p>Um editor de vetores gráficos de código aberto, com mesma capacidade ou ainda superior que muitos editores como o Illustrator, CorelDraw ou Xara X, usando o formato de arquivo padrão da W3C: SVG (Scalable Vector Graphics).</p>
    <p>O Inkscape suporta muitas funcionalidades avançadas e toma um grande cuidado para criar uma interface simples e bastante funcional. É fácil editar nós, vetorizar arquivos, dentre outras coisas.</p>
    <p>
      Para mais informações acesse:
    </p>
    <div class="btn-group">
      <a href="http://inkscape.org/" class="btn btn-primary" target="blank">inkscape.org</a>
      <a href="https://www.facebook.com/Inkscape.org" class="btn btn-default" target="blank">
        <i class="fa fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com/inkscape" class="btn btn-default" target="blank">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <a href="http://wiki.softwarelivre.org/InkscapeBrasil/Extensoes" class="btn btn-default" target="blank">
        <i class="fa fa-cog"></i> Extensões
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <img src="img/inkscape.png" alt="" class="img-thumbnail" />
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-3">
    <img src="img/blender.png" alt="" class="img-thumbnail" />
  </div>
  <div class="col-md-8">
    <h1>Blender</h1>
    <hr/>
    <p>é um programa de computador de código aberto, desenvolvido pela Blender Foundation, para modelagem, animação, texturização, composição, renderização, edição de vídeo e criação de aplicações interativas em 3D, tais como jogos, apresentações e outros,
      através de seu motor de jogo integrado, o Blender Game Engine. Está disponível sob uma licença dupla: Blender License (BL) / GNU General Public License (GPL). O Blender possui ainda partes licenciadas sob a Python Software Foundation License.</p>
    <p>
      Para mais informações acesse:
    </p>
    <div class="btn-group">
      <a href="http://www.blender.org/" class="btn btn-primary" target="blank">blender.org</a>
      <a href="https://www.facebook.com/pages/Blender/346459324303" class="btn btn-default" target="blank">
        <i class="fa fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com/blender3d" class="btn btn-default" target="blank">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <a href="http://www.youtube.com/user/BlenderFoundation" class="btn btn-default" target="blank">
        <i class="fa fa-youtube"></i> Vídeos
      </a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 40px;">

  <div class="col-md-8">
    <h1>Chromium Browser</h1>
    <hr/>
    <p>Chromium é um navegador de código aberto que tem como objetivo ser o mais seguro, o mais rápido e o mais estável para todos os usuários que acessam a web.</p>
    <p>
      Para mais informações acesse:
    </p>
    <div class="btn-group">
      <a href="http://www.chromium.org/Home" class="btn btn-primary" target="blank">Site Oficial</a>
      <a href="https://www.facebook.com/pages/Chromium/109505492408930?rf=112317425495950" class="btn btn-default" target="blank">
        <i class="fa fa-facebook"></i> Facebook
      </a>
      <a href="https://twitter.com/ChromiumDev" class="btn btn-default" target="blank">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <a href="https://chrome.google.com/webstore/category/home" class="btn btn-default" target="blank">
        <i class="fa fa-cog"></i> Web Store
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <img src="img/chromium-browser.png" alt="" class="img-thumbnail" />
  </div>
</div>

<div class="row" style="margin-top: 40px;">

    <div class="col-md-8">
        <h1>Firefox</h1>
        <hr/>
        <p>Mozilla Firefox é um navegador livre e multi-plataforma desenvolvido pela Mozilla Foundation (em português: Fundação Mozilla) com ajuda de centenas de colaboradores.</p>
        <p>
            Para mais informações acesse:
        </p>
        <div class="btn-group">
            <a href="https://www.mozilla.org/en-US/firefox/desktop/" class="btn btn-primary" target="blank">Site Oficial</a>
            <a href="https://www.facebook.com/Firefox" class="btn btn-default" target="blank">
                <i class="fa fa-facebook"></i> Facebook
            </a>
            <a href="https://twitter.com/firefox" class="btn btn-default" target="blank">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            <a href="https://marketplace.firefox.com/" class="btn btn-default" target="blank">
                <i class="fa fa-cog"></i> Market Place
            </a>
        </div>
    </div>
    <div class="col-md-3">
        <img src="img/firefox.png" alt="" class="img-thumbnail" />
    </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-3">
    <img src="img/comsolid8-144.png" alt="" class="img-thumbnail" />
  </div>
  <div class="col-md-8">
    <h1>Ferramentas úteis</h1>
    <hr/>
    <p>O {{encontro}} tem a ventagem de ter várias ferramentas pré-instaladas que lhe auxiliam no seu dia-a-dia e você nem percebe, como:</p>
    <ul>
      <li>suporte a arquivos <strong>.rar</strong>
      </li>
      <li>suporte a arquivos <strong>.7zip</strong>
      </li>
      <li>suporte ao <strong>Java 7</strong>
      </li>
      <li>suporte ao <strong>Flash</strong>
      </li>
      <li>suporte a vários formatos de áudio e vídeo graças ao vlc.</li>
    </ul>
    <p>
      Acessórios:
    </p>
    <ul>
      <li><strong>Pyrenamer</strong>: renomeador de arquivos em massa.</li>
      <li><strong>Shutter</strong>: tira printscreen da tela com opções avançadas.</li>
      <li><strong>Furius ISO Mount</strong>: monta ISO e simula com se estivessem no driver.</li>
      <li><strong>Calibre</strong>: visualizador de e-books (PDF, EPUB, MOBI).</li>
      <li><strong>Bleachbit</strong>: limpa arquivos temporários do seu computador, liberando espaço.</li>
    </ul>
  </div>
</div>
