<div style="margin-top: 100px;"></div>

<h1>Escritório</h1>

<hr/>

<div class="row">
  <div class="col-md-2 col-md-offset-1">
    <img src="img/libreoffice-main.png" alt="" />
  </div>
  <div class="col-md-8">
    <h1>LibreOffice</h1>
    <hr/>
    <p>O LibreOffice é uma suite livre de aplicações de escritório compatível com as principais suítes de escritório do mercado. Oferece todas as funções esperadas de uma suite profissional: editor de textos, planilha, editor de apresentações, editor de
      desenhos e banco de dados. E muito mais: exportação para PDF, editor de fórmulas científicas, extensões, etc...</p>
    <p>
      Para mais informações acesse:
    </p>
    <div class="btn-group">
      <a href="http://pt-br.libreoffice.org/" class="btn btn-primary" target="blank">libreoffice.org</a>
      <a href="http://www.facebook.com/libreofficebr" class="btn btn-default" target="blank">
        <i class="fa fa-facebook-square"></i> Facebook
      </a>
      <a href="https://twitter.com/libreofficebr" class="btn btn-default" target="blank">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      <a href="http://extensions.libreoffice.org/" class="btn btn-default" target="blank">
        <i class="fa fa-cog"></i> Extensões
      </a>
    </div>
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-1">
    <h2>Writer</h2>
    <hr/>
    <p>Writer tem todas as características necessárias de um processador de textos moderno ou de uma ferramenta de editoração. É simples o suficiente para uma nota rápida, mas poderoso o suficiente para a criação de livros completos, com conteúdo, diagramas,
      índices, etc. Deixa você livre para concentrar-se no seu texto, enquanto ele cuida do resto.</p>
  </div>
  <div class="col-md-2">
    <img src="img/libreoffice-writer.png" alt="" />
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-2 col-md-offset-1">
    <img src="img/libreoffice-calc.png" alt="" />
  </div>
  <div class="col-md-8">
    <h2>Calc</h2>
    <hr/>
    <p>O Calc é o programa de planilha eletrônica que você sempre quis. Os novatos acham intuitiva e fácil de aprender, os profissionais da mineração de dados e especialistas em números apreciam a extensa variedade de funções avançadas. A avançada tecnologia
      DataPilot facilita a importação dos dados brutos de banco de dados corporativos, cruzando e resumido-os, convertendo-os em informações relevantes.</p>
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-1">
    <h2>Impress</h2>
    <hr/>
    <p>O Impress é uma ferramenta desenvolvida para a criação de apresentações multimídia. Suas apresentações podem ser enriquecidas com imagens 2D e 3D, efeitos especiais, estilos de transição, animações e ferramentas de desenho que causam alto impacto.
      Os Slides Mestres simplificam a tarefa de preparar seu trabalho. Com isso, você economiza tempo.</p>
  </div>
  <div class="col-md-2">
    <img src="img/libreoffice-impress.png" alt="" />
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-2 col-md-offset-1">
    <img src="img/libreoffice-draw.png" alt="" />
  </div>
  <div class="col-md-8">
    <h2>Draw</h2>
    <hr/>
    <p>O Draw permite produzir qualquer coisa, de um rápido esboço a um plano complexo, e oferece os meios para se comunicar com gráficos e diagramas. Com um tamanho máximo de 300 cm de página, o Draw, é um excelente pacote para produção técnica de desenhos,
      cartazes e muito mais. Você pode organizar as ferramentas de desenho mais utilizadas, em torno da tela. Com um único clique de acesso, você tem acesso aos "Estilos e Formatações" do produto.</p>
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-8 col-md-offset-1">
    <h2>Base</h2>
    <hr/>
    <p>O Base é ume front-end para banco de dados rico em recursos, projetado para atender as necessidades de uma ampla variedade de usuários, para todos os tipos de utilização, tais como:</p>
    <ul>
      <li>Administrar coleções de objetos;</li>
      <li>Manter um banco de dados de informações de clientes;</li>
      <li>Manter um banco de dados de notas e históricos escolares;</li>
      <li>Armazenar informações de pesquisa e dados de ensaios de laboratório;</li>
      <li>Armazenar dados de censo populacional;</li>
      <li>Produzir relatórios financeiros mensais em empresas e organizações;</li>
      <li>Administrar auditorias, controle de qualidade e dados de produção.</li>
    </ul>
  </div>
  <div class="col-md-2">
    <img src="img/libreoffice-base.png" alt="" />
  </div>
</div>

<div class="row" style="margin-top: 40px;">
  <div class="col-md-2 col-md-offset-1">
    <img src="img/libreoffice-math.png" alt="" />
  </div>
  <div class="col-md-8">
    <h2>Math</h2>
    <hr/>
    <p>O Math é o editor de fórmulas da suite LibreOffice. Ele pode ser acionado de dentro de seus documentos de texto, planilhas, apresentações e desenhos. Você terá assim fórmulas científicas e matemáticas formatadas com perfeição. Suas fórmulas podem
      conter uma ampla gama de elementos, que vão desde frações, termos com expoentes, integrais e funções matemáticas até inegalidades, sistemas de equações e matrizes.</p>
    <p>Você pode iniciar o Math como uma aplicação individual a partir do Start Center, ou você pode chama-lo quando precisar, de dentro do editor de texto Writer, da planilha Calc, do editor de apresentação Impress ou do editor de desenho Draw, pelo menu
      "Inserir -> Objeto -> Fórmula".</p>
  </div>
</div>
