<div style="margin-top: 100px;"></div>

<h1>Jogos Livres</h1>

<hr/>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div style="height: 600px">
            <carousel interval="myInterval" disable-animation="true">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;width: 500px;">
                    <div class="carousel-caption">
                        <h3>{{slide.text}}</h3>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="urban-terror">
    <div class="col-md-2 text-center">
        <img src="img/ut-logo.png" alt="image" class="img-rounded" />
        <span class="label label-success">Instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Urban Terror 4.2 HD</h2>
        <p>Urban Terror é um jogo FPS (First Person Shooter) desenvolvido pela FrozenSand. Com uma jogabilidade bastante realista e gráficos de tirar o fôlego, Urban Terror não deixa nada a desejar em comparação a qualquer jogo em primeira pessoa.</p>
        <div class="btn-group">
            <a href="http://www.urbanterror.info/home/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.urbanterror.info/downloads/" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="http://www.mad3linux.org/search?q=urban%20terror" class="btn btn-default" target="blank">
                <i class="fa fa-info-circle"></i> Dicas</a>
            <a href="https://twitter.com/UrbanTerrorInfo" class="btn btn-default" target="blank" rel="tooltip" title="Página do Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="frets-on-fire">
    <div class="col-md-2 text-center">
        <img src="img/fofix-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Frets On Fire
        </h2>
        <p>Frets On Fire (FoFiX) é um jogo de habilidade musical e dedos rápidos. O objetivo do jogo é tocar guitarra com o teclado do computador o mais perfeito possível.</p>
        <br/>
        <div class="btn-group">
            <a href="http://code.google.com/p/fofix/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://code.google.com/p/fofix/downloads/list" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="apt://fofix" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
            <a href="http://forum.fretsonfire.net.br/" class="btn btn-default" target="blank">
                <i class="fa fa-info-circle"></i> Músicas do Jogo</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="frogatto">
    <div class="col-md-2 text-center">
        <img src="img/frogatto-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Frogatto
        </h2>
        <p>
            Frogatto é um jogo de plataforma de código fonte aberto, no qual você deve atravessar um mundo e ajudar um pequeno amigo verde chamado Frogatto, andar e saltar e levá-lo através da história.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://www.frogatto.com/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.frogatto.com/download" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="apt://frogatto" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
            <a href="http://www.frogatto.com/screenshots" class="btn btn-default" target="blank">
                <i class="fa fa-info-circle"></i> Screenshots</a>
            <a href="https://twitter.com/frogatto" class="btn btn-default" target="blank" rel="tooltip" title="Página do Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="stk">
    <div class="col-md-2 text-center">
        <img src="img/stk-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Super Tux Kart
        </h2>
        <p>
            Super Tux Kart é um jogo livre de corrida 3D, feito com
            <a href="http://www.blender.org/">Blender</a>. Foi desenvolvido para ser mais divertido do que realista.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://supertuxkart.sourceforge.net/Main_Page" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://supertuxkart.sourceforge.net/Downloads" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="apt://supertuxkart" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
            <a href="http://supertuxkart.sourceforge.net/Discover" class="btn btn-default" target="blank">
                <i class="fa fa-info-circle"></i> Screenshots</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="supertux">
    <div class="col-md-2 text-center">
        <img src="img/supertux-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Super Tux
        </h2>
        <p>
            Super Tux é um jogo 2D clássico de correr e saltar com jogabilidade similar ao Super Mario World disponibilizado grátis e com código fonte aberto.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://supertux.lethargik.org/index.html" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://supertux.lethargik.org/download.html" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="apt://supertux" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
            <a href="http://supertux.lethargik.org/screenshots.html" class="btn btn-default" target="blank">
                <i class="fa fa-info-circle"></i> Screenshots</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="zsnes">
    <div class="col-md-2 text-center">
        <img src="img/zsnes-logo.png" alt="image" class="img-rounded" />
        <span class="label label-success">Instalado</span>
    </div>
    <div class="col-md-8">
        <h2>ZSNES
        </h2>
        <p>
            ZSNES é uma emulador permite que você jogue clássicos escritos para o console Super Nintendo (SNES) que roda em Linux, Windows.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://www.zsnes.com/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://romhustler.net/roms/snes" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar Jogos</a>
            <a href="http://snesbox.com/" class="btn btn-default" target="blank">
                <i class="fa fa-globe"></i> Jogar On-line</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="pcsx">
    <div class="col-md-2 text-center">
        <img src="img/pcsx-logo.png" alt="image" class="img-rounded" />
        <span class="label label-success">Instalado</span>
    </div>
    <div class="col-md-8">
        <h2>PCSX
        </h2>
        <p>
            PCSX é um emulador avançado para PlayStation (PSX), o qual utiliza uma arquitetura que provê suporte total a todos os componentes de um PSX. Tem suporte total a controles, vídeo, som, memory cards, e outros componentes importantes, além de ser capaz de rodar muitos jogos sem problemas.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://pcsx-df.sourceforge.net/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://romhustler.net/roms/psx" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar Jogos</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="pcsx2">
    <div class="col-md-2 text-center">
        <img src="img/pcsx2-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>PCSX 2
        </h2>
        <p>
            PCSX 2 é um emulador para PlayStation 2, um programa livre que tenta simular um console capaz de rodar jogos PS2 em seu computador.
        </p>
        <div class="alert alert-info">
            <strong>Dica:</strong>por ser um programa que não roda em toda máquina, ele não vem instalado por padrão.
        </div>
        <div class="btn-group">
            <a href="http://pcsx2.net/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://pcsx2.net/download/releases/linux.html" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="http://romhustler.net/roms/ps2" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar Jogos</a>
            <a href="https://twitter.com/PCSX2" class="btn btn-default" target="blank" rel="tooltip" title="Página do Twitter">
                <i class="fa fa-twitter"></i>
            </a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="mupen64plus">
    <div class="col-md-2 text-center">
        <img src="img/mupen64plus-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Mupen64 plus
        </h2>
        <p>
            Mupen64 foi desenvolvido para ser multi plataforma, o primeiro a rodar em Linux e Windows. A medida que o emulador progredia, suporte ao FreeBSD e MacOS foram adicionados, mas não sendo tão bem mantidos como as versões originais.
        </p>
        <br/>
        <div class="btn-group">
            <a href="http://code.google.com/p/mupen64plus/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://code.google.com/p/mupen64plus/downloads/list" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="http://romhustler.net/roms/n64" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar Jogos</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="openarena">
    <div class="col-md-2 text-center">
        <img src="img/openarena-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>Open Arena
        </h2>
        <p>
            OpenArena é um pacote de software livre semelhante a Quake3, licenciado sob GPL, criando um jogo independente. Embora OpenArena seja um substituto livre para Quake 3 Arena, NÃO é compatível com a versão proprietária.
        </p>
        <div class="btn-group">
            <a href="http://openarena.ws/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://openarena.ws/download.php?view.4" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
            <a href="apt://openarena" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="warmux">
    <div class="col-md-2 text-center">
        <img src="img/warmux-logo.png" alt="image" class="img-rounded" />
        <span class="label label-danger">Não instalado</span>
    </div>
    <div class="col-md-8">
        <h2>WarMUX
        </h2>
        <p>
            WarMUX é um jogo livre em ambiente 2D em que, mesclando elementos de estratégia e tiro, você deve ser o único sobrevivente. Para ajudar a cumprir seu objetivo há à sua disposição um arsenal completo, desde granadas, dinamites e bazucas até outras armas bem mais exóticas (como o lançador de doninhas).
        </p>
        <div class="btn-group">
            <a href="http://sourceforge.net/projects/warmux.mirror/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="apt://warmux" class="btn btn-default">
                <i class="fa fa-wrench"></i> Instalar</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;" id="playonlinux">
    <div class="col-md-2 text-center">
        <img src="img/playonlinux-logo.png" alt="image" class="img-rounded" />
        <span class="label label-success">Instalado</span>
    </div>
    <div class="col-md-8">
        <h2>PlayOnLinux
        </h2>
        <p>
            PlayOnLinux é um software que permite que você facilmente instale e rode vários jogos e aplicativos desenvolvidos para MS Windows.
        </p>
        <div class="btn-group">
            <a href="http://www.playonlinux.com/en" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.playonlinux.com/en/download.html" class="btn btn-default" target="blank">
                <i class="fa fa-cloud-download"></i> Baixar</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="span10">
        <div class="well well-large">
            <p>Mais jogos em:</p>
            <ul class="unstyled">
                <li><a href="http://www.playdeb.net/updates/ubuntu/12.04/">Play Deb</a>
                </li>
                <li>
                    <a href="http://www.penguspy.com/#/All/free/open_closed/sort=1/view=1/limit=0">
								Penguspy
							</a>
                </li>
                <li><a href="http://www.mad3linux.org/search/label/Jogos">MAD3 Linux</a>
                </li>
                <li>Ou apenas acesse a Central de Programas do Ubuntu no menu principal e procure por Jogos.</li>
            </ul>
        </div>
    </div>
</div>
