
<div class="row">
    <div class="col-md-4">
        <img src="img/applications-display.png" class="center">
        <h2>Interface</h2>
        <p>No Ubuntu {{encontro}} é possível utilizar Unity ou GNOME 3.</p>
        <p><a class="btn btn-default" href="#/interface">Ver detalhes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <img src="img/applications-multimedia.png" class="center">
        <h2>Multimídia</h2>
        <p>Edição de áudio e vídeo, conversão de mídias entre outras coisas.</p>
        <p><a class="btn btn-default" href="#/multimidia">Ver detalhes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <img src="img/applications-games.png" class="center">
        <h2>Jogos Livres</h2>
        <p>Gosta de diversão? Aproveite os jogos livres e de qualidade.</p>
        <p><a class="btn btn-default" href="#/jogos">Ver detalhes &raquo;</a>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="img/applications-office.png" class="center">
        <h2>Escritório</h2>
        <p>LibreOffice vem com ferramentas que ajudarão em seu trabalho.</p>
        <p><a class="btn btn-default" href="#/escritorio">Ver detalhes &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <img src="img/applications-other.png" class="center">
        <h2>Diversos</h2>
        <p>Outos programas e ferramentas que acompanham a distro.</p>
        <p><a class="btn btn-default" href="#/diversos">Ver detalhes &raquo;</a>
        </p>
    </div>
</div>
