<div style="margin-top: 100px;"></div>

<h1>Multimídia</h1>

<hr/>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/vlc.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>VLC</h2>
        <p>
            VLC é um reprodutor de mídias grátis e com código fonte aberto que toca a maioria dos arquivos multimídia bem como DVD, CD de áudio, VCD, e vários protocolos de streaming.
        </p>
        <div class="btn-group">
            <a href="http://www.videolan.org/vlc/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.facebook.com/vlc.media.player" class="btn btn-default" target="blank" rel="tooltip" title="Página do Facebook">
                <i class="fa fa-facebook-square"></i>
            </a>
            <a href="http://www.twitter.com/videolan" class="btn btn-default" target="blank" rel="tooltip" title="Página do Twitter">
                <i class="fa fa-twitter-square"></i>
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/rhythmbox.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Rhythmbox</h2>
        <p>
            Rhythmbox é uma aplicativo de gerenciamento e reprodução de músicas, desenvolvido para funcionar em conjunto com o GNOME.
        </p>
        <div class="btn-group">
            <a href="http://projects.gnome.org/rhythmbox/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://projects.gnome.org/rhythmbox/screenshots.html" class="btn btn-default" target="blank">
                <i class="fa fa-image"></i> Screenshots</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/arista.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Arista</h2>
        <p>
            Arista é um conversor de vídeo bem simples mas muito poderoso. Suporta diversos formatos como MP4, AVI, WebM, Ogg, FLV.
        </p>
        <div class="btn-group">
            <a href="http://www.transcoder.org/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.transcoder.org/screenshots/" class="btn btn-default" target="blank">
                <i class="fa fa-image"></i> Screenshots</a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/soundconverter.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Sound Converter</h2>
        <p>
            Conversor de arquivos de áudio capaz de converter de vários formatos para WAV, FLAC, MP3, AAC, e Ogg Vorbis.
        </p>
        <div class="btn-group">
            <a href="http://soundconverter.org/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/brasero.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Brasero</h2>
        <p>
            Brasero é um aplicativo para gravação de CD/DVD para o GNOME. Ele foi desenvolvido para ser o mais o mais simples possível e possui algumas características únicas que permitem usuários a criar seus discos de forma fácil e rápida.
        </p>
        <div class="btn-group">
            <a href="http://projects.gnome.org/brasero/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://projects.gnome.org/brasero/screenshots.html" class="btn btn-default" target="blank">
                <i class="fa fa-image"></i> Screenshots</a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/cheese.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Cheese</h2>
        <p>
            Cheese utiliza sua webcam para tirar fotos e vídeos, aplicar efeitos especiais e permite compartilhar sua diversão com seus amigos.
        </p>
        <div class="btn-group">
            <a href="http://projects.gnome.org/cheese/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/gaupol.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Gaupol</h2>
        <p>
            Gaupol é um editor de legendas baseados em texto habitualmente usados com vídeo DivX. O Gaupol suporta múltiplos formatos de legendas e disponibiliza meios para correcções de texto e manipulação de tempo. A interface do Gaupol é desenhada atendendo a processamento de lotes (batch) de múltiplos documentos e traduções.
        </p>
        <div class="btn-group">
            <a href="http://home.gna.org/gaupol/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://home.gna.org/gaupol/screenshots.html" class="btn btn-default" target="blank">
                <i class="fa fa-image"></i> Screenshots</a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/soundjuicer.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Sound Juicer</h2>
        <p>
            Com Sound Juicer basta inserir seu CD de áudio, definir as preferências, e Extrair. Possui suporte a AAC, FLAC, OGG, MP3, WAV.
        </p>
        <div class="btn-group">
            <a href="https://live.gnome.org/SoundJuicer" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/openshot.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>OpenShot</h2>
        <p>
            O OpenShot é editor de vídeo não-linear livre e gratuito. Com ele é possível criar e editar vídeos e filmes usando seus arquivos de vídeos, áudios e imagens. Crie vídeos para o YouTube, Flickr, Vimeo, Metacafe, iPod, Xbox, e muitos outros formatos comuns!
        </p>
        <div class="btn-group">
            <a href="http://www.openshot.org/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.openshot.org/screenshots/" class="btn btn-default" target="blank" rel="tooltip" title="Screenshots">
                <i class="fa fa-image"></i></a>
            <a href="http://www.facebook.com/openshot" class="btn btn-default" target="blank" rel="tooltip" title="Página do Facebook">
                <i class="fa fa-facebook-square"></i>
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/imagination.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>Imagination</h2>
        <p>
            Imagination é um criador de apresentações em DVD, leve e amigável com uma interface simples e poucas dependências. Exige apenas o codificador ffmpeg para produzir um filme para ser gravado com outro aplicativo.
        </p>
        <div class="btn-group">
            <a href="http://imagination.sourceforge.net/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://imagination.sourceforge.net/screenshots.html" class="btn btn-default" target="blank">
                <i class="fa fa-image"></i> Screenshots</a>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-2">
        <img src="img/lmms-logo.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>LMMS (Linux MultiMedia Studio)</h2>
        <p>
            LMMS é um software livre multi-plataforma que permite a criação de música com seu computador.
            Isto inclui a criação de melodias e acompanhamentos, sintetizando e mixando sons e samples.
            Você pode se divertir com seu teclado MIDI e muito mais - tudo isso com uma interface amigável e moderna.
            Além disso o LMMS vem com muitos instrumentos prontos para uso e plugins de efeito, presets e samples.
        </p>
        <div class="btn-group">
            <a href="http://lmms.sourceforge.net/home.php" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://lmms.sourceforge.net/screenshots.php" class="btn btn-default" target="blank" rel="tooltip" title="Screenshots">
                <i class="fa fa-image"></i>
            </a>
            <a href="http://lmms.sourceforge.net/demos.php" class="btn btn-default" target="blank" rel="tooltip" title="Músicas de Demonstração">
                <i class="fa fa-music"></i>
            </a>
            <a href="https://www.facebook.com/makefreemusic" class="btn btn-default" target="blank" rel="tooltip" title="Página do Facebook">
                <i class="fa fa-facebook-square"></i>
            </a>
        </div>
    </div>

    <div class="col-md-2">
        <img src="img/tuxguitar.png" alt="image" class="img-rounded" />
    </div>
    <div class="col-md-3">
        <h2>TuxGuitar</h2>
        <p>
            TuxGuitar é um editor e reprodutor de tablaturas multitrilha de violão/guitarra. Ele abre arquivos GP3, GP4 e GP5 e exporta para MIDI e PDF.
        </p>
        <div class="btn-group">
            <a href="http://sourceforge.net/projects/tuxguitar/" class="btn btn-success" target="blank">
                <i class="fa fa-home"></i> Site Oficial</a>
            <a href="http://www.gprotab.net/index.php" class="btn btn-default" target="blank" rel="tooltip" title="Músicas para Baixar">
                <i class="fa fa-music"></i>
            </a>
        </div>
    </div>
</div>
